<div class="container">
    <h2 class="my-4">Completa todos los campos</h2>
    <div class="container">
        <form [formGroup]="formulario" (ngSubmit)="onSubmit()" class=" px-4 py-3 ">
            <div class="mb-3 ">
                <label class="form-label">Indica el nuevo nombre del alumno</label>
                <input type="text" class="form-control" formControlName="Full_name">

            </div>
            <div class="mb-3 ">
                <label class="form-label">Introduce el nuevo email del alumno</label>
                <input type="text" class="form-control" formControlName="email">

            </div>

            <input type="submit" value="Modificar alumno" class="btn btn-info">
        </form>
        <button type="button" class="btn btn-primary btn-lg" [routerLink]="['/alumnos']" routerLinkActive="activo">Volver a lista de alumnos</button>
    </div>
</div>